<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <i class="fa fa-play-circle"></i>  <span class="light">CODELIT - </span> Learn Coding
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#notify">Notify</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">CODELIT</h1>
          <p class="intro-text">Coming Soon!<br>Learn Programming by Doing</p>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>About CODELIT</h2>
        <p>Code-lit is a coding literature where you learn coding by doing projects from Zero to Professional.</p>
        <p>HTML, CSS, JavaScript, Python, Ruby, Rails, Embedded Systems, C, C++ and many more</p>
        <a href="#notify" class="btn btn-default btn-lg page-scroll">Notify Me</a>
      </div>
    </div>
  </div>
</section>

<!-- Notify Section -->
<section id="notify" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Notify me when website Launches</h2>
      <p>Please enter your email below. We would notify you with launch deals and dates.</p>
      <p>
      <form action="https://sulman.us10.list-manage.com/subscribe/post?u=48c289bb707ed38dd0a41eda0&amp;id=f987bc3e45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
          <input type="email" name="EMAIL" class="form-control input-lg" placeholder="Enter Email">
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_48c289bb707ed38dd0a41eda0_f987bc3e45" tabindex="-1" value=""></div>
        <ul class="list-inline banner-social-buttons">
          <li>
            <button class="btn btn-default btn-lg" type="submit"><i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">NOTIFY</span></button>
          </li>
        </ul>
      </form>
      </p>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy; sulmanbaig.com 2015</p>
  </div>
</footer>

</body>